<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" media="screen">

        {% stylesheets '@REKRotesBundle/Resources/public/css/*.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="{{ path('home') }}" class="navbar-brand">rekarnar: rotes</a>
                </div>
                <div id="navbar-main">
                    {% set mainMenu = knp_menu_get('REKRotesBundle:Builder:pagesMenu', [], {'authenticated': is_granted("ROLE_USER")}) %}
                    {{ knp_menu_render(mainMenu) }}
                    {{ knp_menu_render('REKRotesBundle:Builder:roteMenu') }}
                </div>
            </div>
        </div>

        <div class="container">
            <div class="page-header" id="banner">
                {% block body %}{% endblock %}
            </div>
        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
