{% extends '::base.html.twig' %}

{% block stylesheets %}
  {% stylesheets '@CraueFormFlowBundle/Resources/assets/css/buttons.css' %}
      <link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
{% endblock %}

{% block body %}

<div>
    Steps:
    {% include 'CraueFormFlowBundle:FormFlow:stepList.html.twig' %}
</div>
<form method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}

    {% if flow.getCurrentStepNumber() == 1 %}
        <div>
            When selecting a field type you have to select content also.<br />
            {{ form_row(form.name) }}
        </div>
    {% endif %}

    {{ form_rest(form) }}

    {% include 'CraueFormFlowBundle:FormFlow:buttons.html.twig' %}
</form>

{% endblock %}