{% extends '::base.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block title %}ROTES{% endblock %}

{% block body %}

  <div>
    {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class="message">
            {{ form_errors(form.message) }}
            {{ form_widget(form.message) }}
        </div>

    {{ form_end(form) }}
  </div>

{% endblock %}